@mixin element-invisible {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  white-space: nowrap;
}
$blue: #007BC8;

.localist-wrapper > ul,
.localist-wrapper > ul > li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.localist-events {
  ul#lwe {
    padding-left:0;
  }
  #lw {
    background:none;
  }
  .localist_minicalendar_page_heading {
    font-weight: bold;
  }

}

table.localist_minicalendar_minicalendar caption {
  @include element-invisible;
}


@media screen and (min-width:768px) {
  .localist-combo.localist-layout-horizontal {
    margin:0 -20px;
    display:flex;
    flex-direction: row-reverse;
    & > div {
      padding:0 20px;
    }
  }
}

/* Shortcode Styles */

.localist-event-shortcode-wrapper {
  border:1px solid #e7e7e7;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;

  .localist-event-shortcode-content {
    overflow: hidden;
    @media screen and (min-width:768px) {
      & {
        min-width:180px;
      }
    }
    &:hover {

    }
  }
  .localist-event-shortcode-title {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 10px;
  }
  .localist-events-shortcode-dates {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 75%;
  }
  .localist-event-shortcode-description {
    font-size:85%;
    margin-bottom: 10px;
    & > p:last-child {
      margin-bottom: 0;
    }
  }
  img.localist-event-shortcode-image {
    width:80px;
    height: auto;
    float: left;
    margin:0 20px 0 0;
    @media screen and (min-width:768px) {
      & {
        width:120px;
      }
    }
    @media screen and (min-width:960px) {
      & {
        width:200px;
      }
    }
  }
  .localist-event-shortcode-hero {
    height: 180px;
    background-position: center center;
    background-size:cover;
    margin-bottom: 10px;
    @media screen and (min-width:768px) {
      & {
        height:240px;
      }
    }
    @media screen and (min-width:960px) {
      & {
        height:320px;
      }
    }
  }
}
.localist-event-shortcode-view {
  font-size: 85%;
}
